.checkoutpage{
  margin-top:100px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.bigTitleCheckout{
  font-size: 50px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  padding-bottom: 0px;
  margin: 0;
  padding: 0px;
}

.chkout{
  padding: 15px;
}

