.storeItemsGrid
 {
  background-color: #f5cac3;
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: repeat(3,120px);  
  grid-template-rows: repeat(4,120px); 

  grid-gap:5px 2px;
  padding-top: 30px;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding-bottom: 20px;
  width: 100%;
  
}


.grid-store-items{
  border-radius: 6px;
  width: 100%;
} 

.grid-store-items:hover{
  box-shadow: 0 0 11px rgba(71,71,71, .9); 
  
}
 
.torn-edge-store {
  width: 100%;
  height: 20px;
  transform: rotate(180deg);
  margin-bottom: -3px;
  fill:#f5cac3
}
.torn-edge-store-bottom {
  width: 100%;
  height: 20px;
  transform: rotate(360deg);
  margin-top: -1px;
  fill:#f5cac3;
}


.store-img Img{
  width: 50%;
  height: 50%;

  background: #f3f2f2;
  box-shadow:  23px 23px 46px #e0dfdf,
             -23px -23px 46px #ffffff;
}


.storePic{
  display: block;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: 50%;
  
  background: #e5e1e1;
  box-shadow:  20px 20px 30px #c3bfbf,
             -20px -20px 30px #ffffff;
}

.store-title{
text-align: center;
font-family: 'Rubik', sans-serif;
}

.store-desc{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  padding:15px;
}

@media screen and (min-width: 800px){
  .storeItemsGrid
 {
  display: grid;
  justify-items: center;

  grid-template-columns: repeat(3,200px); 
  grid-template-rows: repeat(3,200px); 
  grid-gap:50px 30px; }

.grid-store-items{
  padding:10px;
}

.store-img Img{
  width: 25%;
  height: 25%;
}

.store-desc{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  padding:15px;
}



}