.cartIcon{
  width: 25px;
  margin: 0 auto;
  display: block;
  position: absolute;
  margin-top:15px;
  margin-bottom: 30px;
  top: 0;
  left: 275px;
  z-index: 5;
}



@media screen and (min-width: 370px){
  .cartIcon{
    width: 35px;
    left: 305px;
  }
  
}