.bigTitle{
  margin-top: 20%;
  font-size: 60px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  padding-bottom: 0px;
}

.x1{
  position: relative;
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 85px;
  left: 45px;
 
}

.x2{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -55px;
  left: 300px;
  
}

@media screen and (min-width: 800px){
    .bigTitle{
      margin-top:5%;
      font-size: 100px;
    }
}