.FrontShop{
  margin-top:10px;
  display: flex;
  flex-wrap: wrap;
}

.grid
 {
  background-color: #6b9080;
  display: grid;
  grid-template-columns: repeat(3,120px);  
  grid-template-rows: repeat(2,120px); 
  grid-gap:5px 2px;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 40px;
  padding-right: 5px;
}

.grid-item{
  padding:10px;
}
.gridImg {
  border-radius: 6px;
  width: 100%;
  height: 100%;
} 

.gridImg:hover{
  box-shadow: 0 0 11px rgba(71,71,71, .9); 
}

.torn-edge {
  height: 20px;
  transform: rotate(180deg);
  margin-bottom: -1px;
  fill:#6b9080;
}
.torn-edge-bottom {
  height: 20px;
  transform: rotate(360deg);
  margin-top: -1px;
  fill:#6b9080;
  margin-bottom: 30px;
}

@media screen and (min-width: 800px){
  .grid
 {
  display: grid;
  grid-template-columns: repeat(3,150px);  /* 3 columns */
  grid-template-rows: repeat(3,150px); /* 3 rows  */
  grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-item{
 
  padding:10px;
}
.gridImg {
  width: 100%;
} 

}