.container{
  background-color:rgba(107, 144, 128, .6);
  margin-right:10%;
  margin-left: 10%;
  margin-top: 150px;
  text-align: center;
  padding:25px;
}


.checkout{
  width: 110px;
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 50%;
  margin-bottom: 100px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  border-style: black;
}


@media screen and (min-width: 500px){
  .checkout{
    margin-left:45%;
  }
  
}