.items{
  overflow-y: auto; -webkit-overflow-scrolling: touch;
}


.item-flex{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;  
}

.item-pic{
  display: flex;
}

.macaron{
  margin-top: 100px;
  margin-bottom: 30px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 50%;
  border-radius: 39px;
  background: #f3f2f2;
  box-shadow:  23px 23px 46px #e0dfdf,
             -23px -23px 46px #ffffff;
}


.itemBox{
  background-color:#b392ac ;
  margin-top: 60px;
  margin-bottom:10px;
  padding: 15px;
}

.torn-edge-item {
  height: 20px;
  transform: rotate(180deg);
  margin-bottom: -60px;
  fill:#b392ac;
}
.torn-edge-item-bottom {
  height: 20px;
  transform: rotate(360deg);
  margin-top: -10px;
  fill:#b392ac;
}


.item-price{
  text-align: center;
  font-size: 24px;
}


.item-title{
  text-align: center;
}

.item-title-shop{
  text-align: center;
  font-size: small;
  text-decoration: none;
}
.item-title-shop a{
  color:#ffe5d9;
  text-align: center;
  font-size: small;
  text-decoration: none;
}
.item-title-shop a:visited{
  color:#ffe5d9;
  text-align: center;
  font-size: small;
  text-decoration: none;
}
.item-title-shop a:hover{
  color:#faf4d3;
  text-align: center;
  font-size: small;
  text-decoration: none;
}



.item-desc{
  text-align: center;
  font-size: 16px;
}

.add{
  width: 110px;
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 50%;
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  border-style: black;
}
