.register{
  background-color: rgba(255, 255, 255, 0.5);
  margin-right:10%;
  margin-left: 10%;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  padding:25px;
}

.name{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-right:10px;
  padding-right:28px;
  margin-top:10px;
}

.name-input{
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 16px;
  margin-top:10px;
  margin-bottom: 10px;
  
}

.username{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin-right:10px;
  margin-top:10px;
  
}


.username-input{
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 16px;
  margin-top:10px;
  margin-bottom: 10px;
}

.password{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin-right:10px;
  padding-right:4px;
  margin-top:10px;
}

.password-input{
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 16px;
  margin-top:10px;
}



/* 
BUTTON CSS */
.signup{
  width: 110px;
  margin-top: 15px;
  margin-left: 70px;
  margin-right: 50%;
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  border-style: black;
 
}
.signup:hover{
 
  background-color: black;
   box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
  color: #F4EDFD;
  transition:.3s;
}



@media screen and (min-width: 700px) {
  .signup{
    font-size:1.5rem;
    width:150px;
  }

  .password-input{
    padding: 12px 20px;
  }

  .username-input{
    padding: 12px 20px;
  }

  .name-input{
    padding: 12px 20px;
  }
  .name{
    font-size: 23px;
    margin-right:30px;
  }
  .username{
    font-size: 23px;
    margin-right:30px;
  }
  .password{
    font-size: 23px;
    margin-right:30px;
  }

  .logflex{
    font-size:20px;
  }
}