.Shop{
  margin-top: 30px;
}
.catItemGrid
 {
  background-color: #b6ccfe;
  display: grid;
  grid-template-columns: repeat(3,120px);  
  grid-template-rows: repeat(3,120px); 
  grid-gap:5px 2px;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 40px;
  margin-top:80px;
  height: 100%;
}

.torn-edge-shop {
  height: 20px;
  transform: rotate(180deg);
  margin-top:15px;
  margin-bottom: -84px;
  fill:#b6ccfe;
}
.torn-edge-shop-bottom {
  height: 20px;
  transform: rotate(360deg);
  margin-top: -1px;
  fill:#b6ccfe;
  margin-bottom: 30px;
}


.grid-cat-item{
  padding:10px;

}


.gridCatImg {
  border-radius: 6px;
  width: 100%;
  height: 100%;
} 



.gridCatImg:hover{
  box-shadow: 0 0 11px rgba(71,71,71, .9); 
}

.categoryTitle{
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  font-family: 'Rubik', sans-serif;
}