.catItemGrid
 {
  background-color: #6b9080;
  display: grid;
  grid-template-columns: repeat(3,120px);  
  grid-template-rows: repeat(4,120px); 
  grid-gap:5px 2px;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 40px;
}

.grid-cat-item{
  padding:10px;
}
.gridCatImg {
  border-radius: 6px;
  width: 100%;
} 

.gridCatImg:hover{
  box-shadow: 0 0 11px rgba(71,71,71, .9); 
}
