.Footer{
  position: sticky;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding:10px;
  text-decoration: none !important;
  margin-top: 30px;
}

.abt-link{
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none!important;
  border:none;
}

.abt-link a:visited{
  text-decoration: none!important;
}




