.footer{
  font-family: 'Rubik', sans-serif;
  position: sticky;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding:5px;
  text-decoration: none;
  margin-top: 30px;
}

.abt-link{
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none!important;
  
}





